@import "../../assets/scss/colors.scss";

.button__container{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    border: none;
    width: 6.4rem;
    padding:  .8rem;
    height: fit-content;
    cursor: pointer;
}
.button__container:hover{
    background-color:#3b3a3a40;
    // .icon__svg{
    //     fill: $secondary;
    // }
}

.icon__container{
    min-width: 4rem;
    min-height: 5rem;
    // height: 4rem;
    display: flex;
    align-items:center;
    justify-content: center;
}

.icon__svg{
    color: $dark;
    // stroke: $dark;
    // background-size: red;
    width: 100%;
    height: auto;
    max-height: 5.2rem;
}

.button__container:focus{
    background-color: #3b3a3a40;
    // .icon__svg{
    //     fill: $secondary;
    // }
}

.icon__title{
    margin: 0;
    font-weight: 500;
    font-family: system-ui;
    // font-family: monospace;
    color: black;
}