@import "../../assets/scss/colors.scss";

.home__section{
    background-image: url("../../utils/background.svg");
    background-position: center;
    background-size: cover;
}

.home {
    // background-color: $primary;
}
.home__container{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding:0 2.3rem;
    height: 95vh;
    // background-color: $primary;
}

.double__icon__row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}